global
    log stdout format raw local0
    maxconn 2048

defaults
    log global
    mode tcp
    option tcplog
    timeout connect 5s
    timeout client 1m
    timeout server 1m

frontend rabbitmq_amqp
    bind *:5672
    default_backend rabbitmq_nodes

backend rabbitmq_nodes
    balance roundrobin
    option tcp-check
    tcp-check connect
    server rabbitmq-node1 rabbitmq-cluster-node1:5672 check inter 2s fall 3 rise 2
    server rabbitmq-node2 rabbitmq-cluster-node2:5672 check inter 2s fall 3 rise 2
    server rabbitmq-node3 rabbitmq-cluster-node3:5672 check inter 2s fall 3 rise 2

listen stats
    bind *:8404
    mode http
    stats enable
    stats uri /
    stats refresh 5s
